.container_header {
  background-color: rgb(85, 84, 82);
}
.div_logo {
  color: aliceblue;
}
.nav-link {
  color: aliceblue;
}
.container_main {
  background-color: rgb(221, 227, 227);
  padding: 20px;
}
.div_button {
  padding: 20px;
}
